@tailwind components;

@layer components {
    .wrapper {
        @apply -mx-[15px] flex items-center;
    }

    .song-card {
        @apply w-1/3 px-[14px];
    }

    .song-item {
        @apply py-[10px] px-[15px] flex items-center justify-between rounded-[5px] hover:bg-borderPrimary;

        &:first-child {
            .prefix {
                -webkit-text-stroke: 1px #4a90e2;
            }
        }

        &:nth-child(2) {
            .prefix {
                -webkit-text-stroke: 1px #50e3c2;
            }
        }

        &:nth-child(3) {
            .prefix {
                -webkit-text-stroke: 1px #e35050;
            }
        }
    }

    .prefix {
        @apply mr-[15px] flex items-center justify-center text-[32px] font-bold font-roboto text-transparent;
    }

    .thumbnail {
        @apply w-[60px] h-[60px] mr-[10px] rounded overflow-hidden;
    }

    .info {
        @apply flex-1;
    }

    .title {
        @apply text-[14px] font-medium text-white;
    }

    .subtitle {
        @apply text-[12px] font-normal text-textSecondary cursor-pointer;

        a {
            @apply text-current hover:text-primary hover:underline;
        }
    }

    .time-release {
        @apply text-[12px] font-normal text-textSecondary;
    }

    .percent {
        @apply font-bold flex items-center justify-center;
    }
}
