@tailwind components;

@layer components {
    .wrapper {
        @apply relative;
    }

    .inner {
        @apply mx-[-15px] flex;
    }

    .carousel-item {
        @apply px-[14px] w-1/5;
    }

    .thumbnail {
        @apply overflow-hidden rounded-[5px];

        &:hover {
            img {
                @apply scale-110 brightness-90;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .info {
        @apply mt-3;
    }

    .subtitle {
        @apply text-[14px] font-normal text-textSecondary text-ellipsis overflow-hidden;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}
